
body {
/* background-image: url("https://images.unsplash.com/photo-1480072723304-5021e468de85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1252&q=80"); */
background-image: url("https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");

backdrop-filter: blur(5px);
color: #FF8066;
}

h1 {
color: #926D00;
text-align: center;
}

h1, h2{
  margin: 30px 180px;
  background-color: #BEA6A0;
}

p {
font-size: 1.2em;
color: #BEA6A0;
}

div {
  background: white;
}

ul {
  margin: 20px 10px;
}

.idk {
  list-style-type: upper-roman;
}

#pic {
  margin: 5px 5px;
}

a {
  color: #926D00;
}

a:hover {
  color: #FF8066;
}
